@{
    var CurrentMediaDetail = Model.MediaDetail;
    
    if(!CurrentMediaDetail.CanRender || CurrentMediaDetail.HasADeletedParent())
    {
        <div class="alert alert-danger" role="alert">
          ONLY logged in admins and developers can see this page.
        </div>
    }
}
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TCF6K22"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

<Site:LoggedInHeader runat="server" />

@Raw(CurrentMediaDetail.GetInjectHtml())