@{
    //var CurrentMediaDetail = FrameworkSettings.Current.CurrentMediaDetail;
    
    // if(!CurrentMediaDetail.CanRender || CurrentMediaDetail.HasADeletedParent())
    // {
    //     <div class="alert alert-danger" role="alert">
    //       ONLY logged in admins and developers can see this page.
    //     </div>
    // }
}

@Raw(CurrentMediaDetail.GetInjectHtml())