@import "../modules/variables";

#SiteTree {
    .jstree-default .jstree-node {
        margin-left: 10px;
    }

    .jstree-node {
        margin-left: 10px;
    }

    ul {
        padding-left: 0;

        li {
            .jstree-file {
                display: none;
            }
        }
    }
}

#left-component {
    width: 20em;
    height: 100%;
    background-color: lighten($grey-light,5%);
}

#my-divider {
    left: 20em;

    .split-pane-divider-inner {
        display: none;
    }
}