.UseMainLayout {
    padding: 30px;
    padding-top: 25px;
}

.row, .col {
	min-height: 100px;
	margin-top: 10px;
	padding-top: 25px;
}

.row {
	background-color: #ccc;	
	margin-top: 10px;	
}

.col {
	background-color: #ddd;
}

.col > .field {
	background-color: #eee;
}

	#PageContent .row.active, #PageContent .col.active {
		border: 1px solid red;
	}

#PageContent, .row, .col {    
    position: relative;
}

    /*.row {
        border: 1px dotted;
    }*/

    .row .col {
        border: 1px dotted;
    }

#ToolBarTemplate {
    display: none;
}

.ToolBar a, .ToolBar a:link {    
    padding: 1px 3px;
    border: 1px solid;
    color: #000;
    background-color: orange;
    opacity: 1;
    font-size: 12px;
    font-weight: bold;
}

	.ToolBar a:hover, .ToolBar a.active {
		background-color: yellow !important;
		opacity: 1;
	}

.ToolBar {
    top: -4px;
    position: absolute;    
    display: none;
    z-index: 999;	
    margin-left: 20px;
}


.DeleteRow, .DeleteColumn, .IncreaseColumnSize, .DecreaseColumnSize, .UpdateClasses {
	display: none;
}

#PageContent > .Handle {
    display: none;
}

.Handle {
    position: absolute;
    cursor: move;
    left: 0;
    top: 0;
}

.ace_editor div {
    font: inherit !important
}


.fieldWrapper {
    border: 1px dotted #000;
    padding: 10px;
}