.UseMainLayout {
    padding: 30px;
    padding-top: 25px;
}

.row, .col {
    padding: 30px;
}

.UseMainLayout, .row, .col {
    border: 1px dotted;
    position: relative;
}

#ToolBarTemplate {
    display: none;
}

.ToolBar a {
    padding: 5px;
}

.ToolBar {
    top: 0;
}

.ToolBar {
    position: absolute;
    border: 1px solid;
    background-color: yellow;
    display: none;
    z-index: 999;
}

.DeleteRow, .DeleteColumn, .IncreaseColumnSize, .DecreaseColumnSize, .UpdateClasses {
    display: none;
}

.UseMainLayout > .Handle {
    display: none;
}

.Handle {
    position: absolute;
    cursor: move;
    left: 0;
    top: 0;
}

.ace_editor div {
    font: inherit !important
}
