// button variables

.button {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: none;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  padding: 8px 16px;
  color: white;
  letter-spacing: 0.02em;
  position: relative;

  &:hover {
    color: white;
  }

  &.green {
    background-color: $green;
    color: white;

    &:after {
      color: $beige;
    }
  }

  &.orange {
    background-color: $orange;
  }

  &.micro {
    // smaller button size
    font-size: 0.8em;
  }

  &.centered {
    display: block;
    margin: 8px auto;
  }

  &.alt-icon {
    // buttons with icons
    padding: 8px 50px 8px 16px;
    margin: 14px 0;

    & > span {
      height: 100%;
      vertical-align: middle;
      background: rgba($green-dark,0.5);
      position: absolute;
      top: 0;
      right: 0;
      padding: 14px 12px 0;
      font-size: 0.8em;
    }

    &:hover {
      background-color: rgba($green-dark,0.5);
      transition: all 0.3s ease;
    }
  }
}
// buttons in navigation

.nav-button {
  font-weight: 700;
  padding: 8px 12px;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0 10px;
  @include media-breakpoint-down(md) {
    width: 100%;
    padding:12px 8px;
    margin: 0;
    font-size: 13px;
    border-radius: 0;
  }
}

.submit {
  background: white;
  color: $green;
  padding: 8px 36px 8px 16px;
  @include media-breakpoint-down(md) {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    margin-top: 0.7em;
  }

  &:after {
    font-family: 'FontAwesome';
    content: '\f178';
    font-size: 0.9em;
    color: $grey;
    position: absolute;
    top: 25%;
    right: 12px;
    transition: all 0.2s cubic-bezier(.58,.18,.58,.96);
  }

  &:active,
  &:focus,
  &:hover {
    transition: all 0.2s cubic-bezier(.58,.18,.58,.96);
    color: $grey;

    &:after {
      right: 8px;
      transition: all 0.2s cubic-bezier(.58,.18,.58,.96);
    }
  }
}
