.callout__list__text {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  .callout__list {
    width: 60%;
    @include mobile {
      width: 100%;
    }
    h5 {
      color: $grey-dark;
      transform: translateY(-50%);
      transform-origin: bottom left;
      position: absolute;
      left: 16px;
      top: 50%;
      writing-mode: vertical-rl;
      white-space: nowrap;
      margin: 0;
      height: auto;
      text-align: center;
      border-bottom: none;
      padding-bottom: 0;
      line-height: 1;
      @include mobile {
        top: 230px;
      }
      &:before {
        content: "";
        position: absolute;
        border-left: 1px solid $grey-dark;
        left: -15px;
        height: 100%;
        display: block;
        @include mobile {
          display: none;
        }
      }
    }
    &__inner {
      padding: 25px 20px 25px 50px;
      margin: 0;
    }
  }
  .callout__text {
    width: 35%;
    padding: 0 20px;
    @include mobile {
      width: 100%;
    }
    p {
      color: $blue-dark;
      font-size: 32px;
      font-weight: 400;
      line-height: 1.2;
      @include tablet {
        font-size: 30px;
      }
      @include mobile {
        font-size: 26px;
      }
    }
  }
}