.callout {
  color: $green;
  text-align: center;
  font-weight: 700;
  line-height: 1.25;
  position: relative;
  padding: 30px 0;

  &:after,
  &:before {
    content: '';
    position: absolute;
    left: calc(50% - 50px);
    border-top: 4px solid rgba($grey,0.25);
    width: 100px;
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }
  // large callout
  &.major {
    font-size: 2em;
    max-width: 980px;
    margin: 20px auto;
    @include media-breakpoint-down(lg) {
      font-size: 1.15em;
    }
  }
}

.get-help-callout-container {
  margin: 0 auto;
}

.get-help-icons {
  // need help icons in content
  a.action-container {
    display: block;
    padding: 10px;
    border-radius: 6px;
    border: 2px solid $beige;
    width: 100%;
    height: 100%;
    transition: all 0.25 ease-in-out;

    &:hover {
      cursor: pointer;
      transition: all 0.2s ease;
    }

    .action,
    .action-icon {
      display: block;
      text-align: center;
      margin: 0 auto;
    }

    .action-icon {
      padding: 20px 12px;
      max-height: 100px;
      background: $orange;
      border-radius: 8px;
      width: 100%;
      height: 100%;
      border: 2px solid white;
    }

    .action {
      text-transform: uppercase;
      font-weight: 600;
    }

    p {
      padding: 0;
      margin-bottom: 0.2rem;
      text-align: center;
      line-height: 1.2em;
      @include media-breakpoint-down(md) {
        font-size: 0.85rem;
      }
    }
  }
}
