.employee__page {
    .employee__container {
        &__inner {
            .grey--callouts {
                p {
                    width: 100%;
                    max-width: 810px;
                }
                ul {
                    padding: 0;
                    list-style-type: none;
                    margin: 0;
                    width: 100%;
                    max-width: 810px;
                    li {
                        margin-bottom: 0.5em;
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
    .articles__section {
        h5 {
            margin-bottom: 25px;
        }
    }
}
