.title {
  background: $green;
  border-top-left-radius: $rounded-corner-size;
  border-top-right-radius: $rounded-corner-size;
  border-bottom: 14px solid lighten($green,5%);
  width: 100%;

  h4 {
    display: inline-block;
    @include header-font-style;
    font-size: 22px;
    color: white;
    white-space: normal;
    word-wrap: break-word;
    width: 70%;
    vertical-align: middle;
    padding: 0 15px;
  }
}

.program-card {
  // these styles are the same as the program-pillars - is there a way to consolidate?
  margin: 1em 0 1.5em;

  img {
    border-radius: $rounded-corner-size;
  }

  &:nth-child(even) {
    & > .title {
      background: $green-olive;
      border-bottom: 14px solid lighten($green-olive,5%);

      .icon-container {
        background: darken($green-olive,5%);
      }
    }
  }

  &:nth-child(3n) {
    & > .title {
      background: $orange;
      border-bottom: 14px solid lighten($orange,5%);

      .icon-container {
        background: darken($orange,5%);
      }
    }
  }

  & > .title {
    padding: 18px 12px 6px;
  }
}

.program-card-content {
  background: $peach;
  padding: 15px 20px;
  border-bottom-left-radius: $rounded-corner-size;
  border-bottom-right-radius: $rounded-corner-size;
  width: 100%;
}

.program-metadata {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 0.9em;
  color: $grey;
  padding: 0 0 22px;

  li,
  ul,
  ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .metadata-icon {
    width: 20px;
    height: auto;
  }

  .age {
    font-size: 22px;
    font-weight: 700;
    color: $orange;

    & > div {
      display: inline-block;
    }
  }

  .ind-fam,
  .location {
    display: flex;
    align-items: center;

    li {
      padding: 0 12px;

      a {
        color: $grey;
        font-weight: 600;
      }
    }
  }

  .ind-fam {
    &:before {
      content: '';
      height: 50px;
      width: 60px;
      background-repeat: no-repeat;
      background-position: 0 center;
      background-size: auto 35px;
    }

    &.Individual {
      &:before {
        background-image: url("../../../media/images/icons/icon-program-individual.svg");
        width: 38px;
      }
    }

    &.Family {
      &:before {
        background-image: url("../../../media/images/icons/icon-program-family.svg");
      }
    }
  }
}

.referrals {
  font-weight: 600;
  font-size: 0.9em;
  color: $grey;
  margin-bottom: 1.25em;

  .metadata-icon {
    width: 20px;
    height: auto;
  }
}
