.chosen-container {
  font-size: 16px;
  text-align: left;
  @include media-breakpoint-down(md) {
    display: block;
     width: 100% !important;
  }

  .chosen-single {
    height: auto;
    padding: 8px;
    background: white;
  }
}

.chosen-container-single .chosen-single div b {
  background-position: 0 10px;
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -16px 10px;
}

input,
select,
textarea {
  padding: 2px 8px;
}

input[type="number"] {
  max-width: 68px;
}

input[type="radio"] {
  margin: 0 4px;
}

label {
  padding: 0 0.3em;
}
