<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="EnableOutputCaching" value="False" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="IsRunningOnDev" value="False" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add name="Dev" connectionString="Data Source=tcp:flexcms.database.windows.net,1433;Initial Catalog=FlexCMS;User Id=FlexCMSAdmin@flexcms.database.windows.net;Password=FlexCMSPassword1234$;" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="Prod" connectionString="Data Source=tcp:flexcms.database.windows.net,1433;Initial Catalog=FlexCMS;User Id=FlexCMSAdmin@flexcms.database.windows.net;Password=FlexCMSPassword1234$;" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>