<?xml version="1.0" encoding="utf-8"?><!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  --><configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <elmah>
    <!--<errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/App_Data/ElmahErrorLogs/" applicationName="WebApplication" />-->
    <security allowRemoteAccess="yes"/>
  </elmah>
  <location path="elmah.axd">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <appSettings>
    <add key="UseLoadFileServiceUrl" value="False"/>
    <add key="FileServiceHandlerUrl" value="~/Handlers/FileServiceHandler.ashx"/>
    <add key="LoadFileUriSegment" value="?method=LoadFile&amp;path="/>
    <add key="LoadCssIncludesUriSegment" value="?method=LoadCssIncludes&amp;pageId="/>
    <add key="LoadJsIncludesUriSegment" value="?method=LoadJsIncludes&amp;pageId="/>
    <add key="DBBackupPath" value="~/App_Data/DBBackups/"/>
    <add key="AllowWindowsLogin" value="False"/>
    <add key="AutoRedirectToFlashVersion" value="False"/>
    <add key="FlashVersionBaseUri" value=""/>
    <add key="GeoLocationAPIKey" value="075004d4657fc064505858f8e96c10722fbc706e5ade9ce69831d512cdc1a3d4"/>
    <add key="WeatherApiKey" value="[GET_IT]"/>
    <add key="ConstantContactAPIKey" value="[GET_IT]"/>
    <add key="ConstantContactUserName" value="[GET_IT]"/>
    <add key="ConstantContactPassword" value="[GET_IT]"/>
    <add key="TwitterScreenName" value="[GET_IT]"/>
    <add key="TwitterApiConsumerKey" value="[GET_IT]"/>
    <add key="TwitterApiConsumerSecret" value="[GET_IT]"/>
    <add key="TwitterApiAccessToken" value="[GET_IT]"/>
    <add key="TwitterApiAccessTokenSecret" value="[GET_IT]"/>
    <add key="TwitterApiUsername" value="[GET_IT]"/>
    <add key="TwitterApiPassword" value="[GET_IT]"/>
    <add key="FacebookAppID" value="[GET_IT]"/>
    <add key="FacebookAppSecret" value="[GET_IT]"/>
    <add key="SystemEmailAddress" value="system@localhost"/>
    <add key="SiteName" value="WebApplication"/>
    <add key="SystemName" value="WebApplication"/>
    <add key="FlickerAPIKey" value="[GET_IT]"/>
    <add key="FlickerAppSecret" value="[GET_IT]"/>
    <add key="FlickerUserID" value="[GET_IT]"/>
    <add key="EnableGeoLocation" value="True"/>
    <add key="EnableUrlRedirectRules" value="True"/>
    <add key="ForceSSL" value="False"/>
    <add key="MinifyOutput" value="False"/>
    <add key="AttemptCompression" value="False"/>
    <add key="CombineCssAndJsIncludes" value="False"/>
    <add key="EnableOutputCaching" value="False"/>
    <add key="EnableLevel1MemoryCaching" value="False"/>
    <add key="EnableLevel2FileCaching" value="True"/>
    <add key="FileSystemCacheDirPath" value="~/App_Data/Cache/"/>
    <add key="EnableLevel3RedisCaching" value="False"/>
    <add key="RedisCacheConnectionString" value=""/>
    <add key="EnableWebRequestCaching" value="False"/>
    <add key="WebRequestCacheDurationInSeconds" value="31556926"/>
    <add key="CompressUriRequestPatterns" value=".html,.aspx,.asmx,ashx,json/,.js,.css,.htm"/>
    <add key="EnableMobileDetection" value="False"/>
    <add key="ConnectionStringKeyName" value="Dev"/>
    <add key="ForceWWWRedirect" value="False"/>
    <add key="JsIncludesPlaceHolderID" value="JsIncludes"/>
    <add key="CssIncludesPlaceHolderID" value="CssIncludes"/>
    <add key="MetaIncludesPlaceHolderID" value="MetaIncludes"/>
    <add key="PayPalBuisnessID" value="[GET_IT]"/>
    <add key="MailChimpApiKey" value="[GET_IT]"/>
    <add key="InstagramClientID" value="69b47bd8e3864ed4b6e933facd10752e"/>
    <add key="EnableInstaller" value="False"/>
    <add key="AttemptSMTPMailer" value="True"/>
  
	<add key="Microsoft.VisualStudio.Enterprise.AspNetHelper.VsInstrLocation" value="C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\Team Tools\Performance Tools\vsinstr.exe"/>
	
	</appSettings>
  <connectionStrings>
    <add name="Dev" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|DB\FlexDotnetCMS.mdf;Initial Catalog=FlexDotNetCMS;Integrated Security=True;Persist Security Info=True" providerName="System.Data.SqlClient"/>
    <add name="Stage" connectionString="Data Source=192.168.121.20;Initial Catalog=FlexDotNetCMS;Integrated Security=False;Persist Security Info=True;User ID=dbuser;Password=dbpassword1234$" providerName="System.Data.SqlClient"/>
    <add name="Prod" connectionString="Data Source=[PROD_HOSTNAME_IP];Initial Catalog=FlexDotNetCMS;Persist Security Info=True;User ID=[USERNAME];Password=[PASSWORD];Integrated Security=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="noreply@domain.com">
        <network host="[SMTP_HOSTNAME_IP]" port="25" userName="[SMTP_USERNAME]" password="[SMTP_PASSWORD]"/>
      </smtp>
    </mailSettings>
  </system.net>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <sessionState mode="InProc"/>
    <httpRuntime requestValidationMode="4.5" targetFramework="4.5" maxRequestLength="1048576" maxUrlLength="6144" fcnMode="Single"/>
    <customErrors mode="Off" defaultRedirect="~/">
      <error statusCode="404" redirect="~/page-not-found"/>
    </customErrors>
    <!-- TODO: Make sure to set debug to false and optimizeCompilations to true when going LIVE -->
    <compilation debug="true" targetFramework="4.5.2" batch="false" optimizeCompilations="false" />
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah"/>
      <!--<add path="~/Handlers/FileServiceHandler.ashx" verb="*.css" type="WebApplication.Services.FileServiceHandler" />-->
      <add path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
    </httpHandlers>
    <pages enableViewState="false" controlRenderingCompatibilityVersion="4.5" buffer="true" maintainScrollPositionOnPostBack="true">
      <namespaces>
        <add namespace="FrameworkLibrary"/>
      </namespaces>
      <controls>
        <add tagPrefix="Admin" src="~/Admin/Controls/LanguageSwitcher.ascx" tagName="LanguageSwitcher"/>
        <add tagPrefix="Admin" src="~/Admin/Controls/Selectors/TagsSelector.ascx" tagName="TagsSelector"/>
        <add tagPrefix="Admin" src="~/Admin/Controls/Selectors/BannersSelector.ascx" tagName="BannersSelector"/>
        <add tagPrefix="Admin" src="~/Admin/Controls/Selectors/Generic/MediaTypeSelector.ascx" tagName="MediaTypeSelector"/>
        <add tagPrefix="Admin" src="~/Admin/Controls/Selectors/Generic/RoleSelector.ascx" tagName="RoleSelector"/>
        <add tagPrefix="Admin" src="~/Admin/Controls/Selectors/Generic/UserSelector.ascx" tagName="UserSelector"/>
        <add tagPrefix="Admin" src="~/Admin/Controls/Selectors/Generic/PermissionsSelector.ascx" tagName="PermissionsSelector"/>
        <add tagPrefix="Admin" src="~/Admin/Controls/Selectors/RolePermissionsSelector.ascx" tagName="RolePermissionsSelector"/>
        <add tagPrefix="Admin" src="~/Admin/Controls/Selectors/UserPermissionsSelector.ascx" tagName="UserPermissionsSelector"/>
        <add tagPrefix="Admin" src="~/Admin/Controls/Selectors/MultiSelectors/Roles/MultiRoleSelector.ascx" tagName="MultiRoleSelector"/>
        <add tagPrefix="Admin" src="~/Admin/Controls/Selectors/MultiSelectors/Users/MultiUserSelector.ascx" tagName="MultiUserSelector"/>
        <add tagPrefix="Admin" src="~/Admin/Controls/Selectors/MultiSelectors/MultiMediaTypeSelector.ascx" tagName="MultiMediaTypeSelector"/>
        <add tagPrefix="Admin" src="~/Admin/Controls/Selectors/MultiSelectors/MultiMediaTypeRoleSelector.ascx" tagName="MultiMediaTypeRoleSelector"/>
        <add tagPrefix="Admin" src="~/Admin/Controls/MediaTypes/Common/CommonPanel.ascx" tagName="CommonPanel"/>
        <add tagPrefix="Admin" src="~/Admin/Controls/Editors/TagsAssociationEditor.ascx" tagName="TagsAssociationEditor"/>
        <add tagPrefix="Admin" src="~/Admin/Controls/Generic/MediaDetailsGrid.ascx" tagName="MediaDetailsGrid"/>
        <add tagPrefix="Admin" src="~/Admin/Controls/Editors/HiddenItemsEditor.ascx" tagName="HiddenItemsEditor"/>
        <add tagPrefix="Admin" src="~/Admin/Controls/Editors/DeletedItemsEditor.ascx" tagName="DeletedItemsEditor"/>
        <add tagPrefix="Admin" src="~/Admin/Controls/Editors/UnpublishedAndExpiredItemsEditor.ascx" tagName="UnpublishedAndExpiredItemsEditor"/>
        <add tagPrefix="Admin" src="~/Admin/Controls/Editors/MediaDetailRolesAssociationEditor.ascx" tagName="MediaDetailRolesAssociationEditor"/>
        <add tagPrefix="Admin" src="~/Admin/Controls/Editors/MediaDetailUsersAssociationEditor.ascx" tagName="MediaDetailUsersAssociationEditor"/>
        <add tagPrefix="Admin" src="~/Admin/Controls/Editors/MediaFieldsEditor.ascx" tagName="MediaFieldsEditor"/>
        <add tagPrefix="Admin" src="~/Admin/Controls/Editors/MediaTypeFieldsEditor.ascx" tagName="MediaTypeFieldsEditor"/>
        <add tagPrefix="Admin" src="~/Admin/Controls/Editors/MediaDetailHistoryEditor.ascx" tagName="MediaDetailHistoryEditor"/>
        <add tagPrefix="Admin" src="~/Admin/Controls/Selectors/FlickerPhotoSetSelector.ascx" tagName="FlickerPhotoSetSelector"/>
        <add tagPrefix="Admin" src="~/Admin/Controls/Fields/Editor.ascx" tagName="Editor"/>
        <add tagPrefix="Admin" src="~/Admin/Controls/Fields/AssociationDragDrop.ascx" tagName="AssociationDragDrop"/>
        <add tagPrefix="Admin" src="~/Admin/Controls/Fields/AssociationCheckBoxList.ascx" tagName="AssociationCheckBoxList"/>
        <add tagPrefix="Admin" src="~/Admin/Controls/Fields/AssociationDropDownList.ascx" tagName="AssociationDropDownList"/>
        <add tagPrefix="Admin" src="~/Admin/Controls/Fields/AssociationAutoSuggest.ascx" tagName="AssociationAutoSuggest"/>
        <add tagPrefix="Admin" src="~/Admin/Controls/Fields/AssociationMultiSelect.ascx" tagName="AssociationMultiSelect"/>
        
        <add tagPrefix="Admin" src="~/Admin/Controls/Fields/FileSelector.ascx" tagName="FileSelector"/>
        <add tagPrefix="Admin" src="~/Admin/Controls/Fields/MultiFileUploader.ascx" tagName="MultiFileUploader"/>
        <add tagPrefix="Admin" src="~/Admin/Controls/Fields/FormBuilder.ascx" tagName="FormBuilder"/>
        <add tagPrefix="Admin" src="~/Admin/Controls/Fields/GenerateNav.ascx" tagName="GenerateNav"/>
        <add tagPrefix="Admin" src="~/Admin/Controls/Generic/MediaComments.ascx" tagName="MediaComments"/>
        <add tagPrefix="Admin" src="~/Admin/Controls/Widgets/AdminChat.ascx" tagName="AdminChat"/>
        
        
        <add tagPrefix="Site" src="~/Controls/MasterPageSelector.ascx" tagName="MasterPageSelector"/>
        <add tagPrefix="Site" src="~/Controls/Lists/CommentsList.ascx" tagName="CommentsList"/>
        <add tagPrefix="Site" src="~/Controls/Lists/BlogFeedList.ascx" tagName="BlogFeedList"/>
        <add tagPrefix="Site" src="~/Controls/Forms/CommentsForm.ascx" tagName="CommentsForm"/>
        <add tagPrefix="Site" src="~/Controls/Generic/Pager.ascx" tagName="Pager"/>
        <add tagPrefix="Site" src="~/Controls/Widgets/Search.ascx" tagName="Search"/>
        <add tagPrefix="Site" src="~/Controls/Widgets/SearchResults.ascx" tagName="SearchResults"/>
        <add tagPrefix="Site" src="~/Controls/ContactForm.ascx" tagName="ContactForm"/>
        <add tagPrefix="Site" src="~/Controls/Lists/RssListView.ascx" tagName="RssListView"/>
        <add tagPrefix="Site" src="~/Controls/Generic/GenerateNav.ascx" tagName="GenerateNav"/>
        <add tagPrefix="Site" src="~/Controls/EventsList.ascx" tagName="EventsList"/>
        <add tagPrefix="Site" src="~/Controls/Lists/ArticleList.ascx" tagName="ArticleList"/>
        <add tagPrefix="Site" src="~/Controls/Login.ascx" tagName="Login"/>
        <add tagPrefix="Site" src="~/Controls/Generic/LoginSuccess.ascx" tagName="LoginSuccess"/>
        <add tagPrefix="Site" src="~/Controls/Navs/GenerateMainNav.ascx" tagName="GenerateMainNav"/>
        <add tagPrefix="Site" src="~/Controls/Navs/GenerateSubNav.ascx" tagName="GenerateSubNav"/>
        <add tagPrefix="Site" src="~/Controls/Navs/GenerateFooterNav.ascx" tagName="GenerateFooterNav"/>
        <add tagPrefix="Site" src="~/Controls/Navs/GenerateBreadCrumb.ascx" tagName="GenerateBreadCrumb"/>
        <add tagPrefix="Site" src="~/Controls/GenerateBanners.ascx" tagName="GenerateBanners"/>
        <add tagPrefix="Site" src="~/Controls/EventCategory/RegisterForEvents.ascx" tagName="RegisterForEvents"/>
        <add tagPrefix="Site" src="~/Controls/CommonIncludes.ascx" tagName="CommonIncludes"/>
        <add tagPrefix="Site" src="~/Controls/Header.ascx" tagName="Header"/>
        <add tagPrefix="Site" src="~/Controls/LoggedIn/LoggedInHeader.ascx" tagName="LoggedInHeader"/>
        <add tagPrefix="Site" src="~/Controls/Footer.ascx" tagName="Footer"/>
        <add tagPrefix="Site" src="~/Controls/Generic/GenericSlideShow.ascx" tagName="GenericSlideShow"/>
        <add tagPrefix="Site" src="~/Controls/Generic/GenericVideoPlayer.ascx" tagName="GenericVideoPlayer"/>
        <add tagPrefix="Site" src="~/Controls/Lists/RelatedItemsList.ascx" tagName="RelatedItemsList"/>
        <add tagPrefix="Site" src="~/Controls/Mobile/ToggleView.ascx" tagName="ToggleView"/>
        <add tagPrefix="Site" src="~/Controls/ShoppingCart/ShoppingCart.ascx" tagName="ShoppingCart"/>
        <add tagPrefix="Site" src="~/Controls/ShoppingCart/AddToCartButton.ascx" tagName="AddToCartButton"/>
        <add tagPrefix="Site" src="~/Controls/Facebook/FBComments.ascx" tagName="FBComments"/>
        <add tagPrefix="Site" src="~/Controls/Generic/ShareThis.ascx" tagName="ShareThis"/>
        <add tagPrefix="Site" src="~/Controls/Lists/TwitterFeedList.ascx" tagName="TwitterFeedList"/>
        <add tagPrefix="Site" src="~/Controls/Generic/FlickerGallery.ascx" tagName="FlickerGallery"/>
        <add tagPrefix="Site" src="~/Controls/WeatherWidget.ascx" tagName="WeatherWidget"/>
        <add tagPrefix="Site" src="~/Controls/AddIMediaDetailToUser.ascx" tagName="AddIMediaDetailToUser"/>
        <add tagPrefix="Site" src="~/Controls/BootStrap/BootStrapTabbedLayout.ascx" tagName="BootStrapTabbedLayout"/>
        <add tagPrefix="Site" src="~/Controls/Sliders/WeatherSlider.ascx" tagName="WeatherSlider"/>
        <add tagPrefix="Site" src="~/Controls/ToolTipFromIMediaDetail.ascx" tagName="ToolTipFromIMediaDetail"/>
        <add tagPrefix="Site" src="~/Controls/TakeActionTab.ascx" tagName="TakeActionTab"/>
        <add tagPrefix="Site" src="~/Controls/PayPalBuyNowSelector.ascx" tagName="PayPalBuyNowSelector"/>
        <add tagPrefix="Site" src="~/Controls/RenderMedia/RenderMedia.ascx" tagName="RenderMedia"/>
        <add tagPrefix="Site" src="~/Controls/RenderChildren/RenderChildren.ascx" tagName="RenderChildren"/>
        <add tagPrefix="Site" src="~/Controls/Widgets/LanguageToggle.ascx" tagName="LanguageToggle"/>
        <add tagPrefix="Site" src="~/Controls/Widgets/MailChipSignupForm.ascx" tagName="MailChipSignupForm"/>
        <add tagPrefix="Site" src="~/Controls/Widgets/Instagram.ascx" tagName="Instagram"/>
        <add tagPrefix="Site" src="~/Controls/Widgets/RssReader.ascx" tagName="RssReader"/>
        <add tagPrefix="Site" src="~/Controls/Widgets/Chat.ascx" tagName="Chat"/>
      </controls>
    </pages>
    <httpModules>
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      <remove name="WindowsAuthentication"/>
      <remove name="PassportAuthentication"/>
      <remove name="UrlAuthentication"/>
      <remove name="FileAuthentication"/>

    <add name="ImageProcessorModule" type="ImageProcessor.Web.HttpModules.ImageProcessingModule, ImageProcessor.Web"/></httpModules>
    <authentication mode="Forms">
      <forms loginUrl="~/login/" name="adAuthCookie" timeout="2880" slidingExpiration="true"/>
    </authentication>
    <identity impersonate="true"/>
    <!-- If you want to run the profiler you need to comment this -->
    <trust level="Full"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
    <urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="true"/>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <remove name="X-Powered-By"/>
        <remove name="ETag"/>
      </customHeaders>
    </httpProtocol>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      <remove name="WindowsAuthentication"/>
      <remove name="PassportAuthentication"/>
      <remove name="UrlAuthentication"/>
      <remove name="FileAuthentication"/>

    <add name="ImageProcessorModule" type="ImageProcessor.Web.HttpModules.ImageProcessingModule, ImageProcessor.Web"/></modules>
    <handlers>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="UrlRoutingHandler" preCondition="integratedMode" verb="*" path="UrlRouting.axd" type="System.Web.HttpForbiddenHandler, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode"/>
      <!--<add name="FileServiceHandlerCSS" path="*.css" verb="GET" type="WebApplication.Services.FileServiceHandler" preCondition="integratedMode" />-->
    </handlers>
    <staticContent>
      <remove fileExtension=".ogv"/>
      <remove fileExtension=".woff"/>
      <remove fileExtension=".woff2"/>
      <remove fileExtension=".mp4"/>
      <remove fileExtension=".otf"/>
      <remove fileExtension=".eot"/>

      <mimeMap fileExtension=".mp4" mimeType="video/mp4"/>
      <mimeMap fileExtension=".ogv" mimeType="video/ogg"/>
      <mimeMap fileExtension=".woff" mimeType="application/octet-stream"/>
      <mimeMap fileExtension=".woff2" mimeType="application/octet-stream"/>
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject"/>
      <mimeMap fileExtension=".otf" mimeType="font/otf"/>
    </staticContent>


  <validation validateIntegratedModeConfiguration="false"/></system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>    
    </assemblyBinding>
  </runtime>
</configuration>