/packages/*
/.vs/*
/.git/*
/WebApplication/obj/*
/WebApplication/App_Data/Cache/*
/WebApplication/App_Data/ElmahErrorLogs/*
/WebApplication/App_Data/DBBackups/*
/WebApplication/aspnet_client/*
/FrameworkLibrary/obj/*
/FrameworkLibrary/bin/*
/TinyFileManager.NET-master/TinyFileManager.NET/obj/*
/TinyFileManager.NET-master/TinyFileManager.NET/.vs/*
/TinyFileManager.NET-master/TinyFileManager.NET/bin/*
/WebApplication/Properties/PublishProfiles/*.pubxml
/WebApplication/Properties/PublishProfiles/*.user
/WebApplication/Properties/PublishProfiles/*.PublishSettings
/WebApplication/Admin/Controls/Fields/*.bak
*.bak
/WebApplication/App_Data/*.mdf
/WebApplication/App_Data/*.ldf
