<div class="row">
	<div class="col col-md-12 full-width">
		{Field:BxSlider}
	</div>
</div>
<div class="row">
	<div class="col col-md-8">
		{Field:BannerImage}
		
		{IncludeFile:'/Frontend/layouts/includes/include.cshtml'}

		{Field:Tabs} {Field:Accordian}
	</div>
	<div class="col col-md-4">
		{{Load:195}.Field:ContactForm} {Field:Galleria}
    </div>
</div>
<div class="row">
    <div class="col col-md-11">
        {Field:RawHtml}
    </div>
</div>
