<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Telerik.Skin" value="Default" />
  </appSettings>
  <system.web>
    <pages validateRequest="false"></pages>
    <authorization>
      <deny users="?" />
      <allow users="*" />
    </authorization>
  </system.web>
</configuration>