// Home Header Type styles

main.home {}
// Latest News Section

.latest-news {
  background: rgba($orange-light,0.15);
  padding: 50px 0 36px;

  h2 {
    color: $grey;
  }

  h3 {
    color: $green;
    margin: 0;
  }

  .news-card {
    &:first-child {
      border-right: 4px solid rgba($grey,0.2);
      @include media-breakpoint-down(md) {
        border-right: none;
        border-bottom: 4px solid rgba($grey,0.2);
        padding-bottom: 20px;
        margin-bottom: 20px;
      }
    }
  }
}
// Blog Section

.home-blog-posts {
  .blog-name {
    width: 100%;
    padding: 20px 30px;
    text-align: center;
    color: white;
    background: $orange;
    border-bottom: 10px solid $orange-light;

    h3 {
      margin: 0;
      padding: 0;
      text-transform: none;
    }
  }

  .blog-post-card {
    background: none;
    border-radius: 0;
    border-right: 4px solid rgba($grey,0.2);
    @include media-breakpoint-down(md) {
      border-right: none;
      border-bottom: 4px solid rgba($grey,0.2);
      padding-bottom: 20px;
      margin-bottom: 20px;
    }

    &:last-child {
      border: 0;
    }

    h4 {
      margin: 0;
      padding: 0 0 .8em;
      text-transform: none;
      a {
        color: $grey;
      }
    }

    span.blog-metadata {
    }
  }
}
