.our-services {
  h2 {
    text-align: center;
    margin: 60px auto 40px;

    &:after {
      left: calc(50% - 60px);
    }
  }
}

.title {

  .program-pillar & {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 105px;
      @include media-breakpoint-down(lg) {
        height: 86px;
       }

    .icon-container {
      border-top-left-radius: $rounded-corner-size;
      background: darken($green,5%);
      padding: 15px;
      width: 90px;
      height: 90px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include media-breakpoint-down(lg) {
        width: 70px;
        height: 70px;
      }
    }
    h4 {
      margin-bottom: 0;
      @include media-breakpoint-down(lg) {
        font-size: 18px;
      }
    }
  }
}

.program-pillar {

  & > .content {
    background: $peach;
    padding: 36px 30px;
    border-bottom-left-radius: $rounded-corner-size;
    border-bottom-right-radius: $rounded-corner-size;
    width: 100%;
    height: calc(100% - 105px); // minus height of title
    @include media-breakpoint-down(lg) {
      height: calc(100% - 86px);
    }

    p {
      color: $grey;
    }
  }

  &:nth-child(even) {
    & > .title {
      background: $green-olive;
      border-bottom: 14px solid lighten($green-olive,5%);

      .icon-container {
        background: darken($green-olive,5%);
      }
    }
  }

  &:nth-child(3n) {
    & > .title {
      background: $orange;
      border-bottom: 14px solid lighten($orange,5%);

      .icon-container {
        background: darken($orange,5%);
      }
    }
  }
}

.services-referral-list {
  padding: 1.5em 0;
  text-align: center;
}

.services-search-container {
  margin: 4em 0;
}

.services-search-options {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  background: $green;
  border-top-left-radius: $rounded-corner-size;
  border-top-right-radius: $rounded-corner-size;
  padding: 10px 8px;

  label {
    color: white;
    font-weight: 500;
  }
  @include media-breakpoint-down(lg) {
    div {
      flex-basis: 50%;
    }
  }
  @include media-breakpoint-down(md) {
    div {
      flex-basis: 100%;
    }
  }
}

.services-search-results {
  background: rgba($green-olive,0.25);
  border-bottom-left-radius: $rounded-corner-size;
  border-bottom-right-radius: $rounded-corner-size;

  ul {
    columns: 3;
    list-style-type: none;
    padding: 30px 20px 40px;
    @include media-breakpoint-down(lg) {
      columns: 2;
    }
    @include media-breakpoint-down(md) {
      columns: 1;
    }

    li {
      padding: 0.5em 10px 0.4em;
      line-height: 1.4em;

      a {
        border-bottom: 1px solid rgba($grey,0.25);
        color: $grey;
        &:after {
          font-family: 'FontAwesome';
          content: '\00a0\f101';
          margin-left: 2px;
          font-size: 0.6em;
          vertical-align: middle;
          color: rgba($grey,0.7);
        }
      }
    }
  }
}

.services-message {
  padding: 1em 15px;
  font-size: 20px;
  font-weight: 700;
  color: $grey;
}
