.sg-label {
  @include header-font-style;
  font-size: 16px;
  color: $grey;
  display: block;
  padding: 12px 0;
  .sg-dark-bg & {
    color: white;
  }
}

.sg-dark-bg {
  background-color: $grey;
}

.sg-logos {
  text-align: center;
}
