<script>
var ajaxOptions = {
    homePagePath: "/home/", // Path to the home page
	targetElement: "#DynamicContent", // Selector to the element where the content will be injected
	preloadLinks: false,
	animateIn: function (selector, html) {
		$(selector).each(function (index, el) {
			//$(el).html(html);			
			$(el).toggle("fade", 250, function () {
				window.scrollTo(0, 0);
				$(el).html(html);
				//$(el).css("height", "100%");
				// $("#mainNav").effect("fade");
				$(el).toggle("fade", 400);
				//$("body").scrollTop(0);
			});
		});
	}
}

initAjaxOptions(ajaxOptions);
</script>

<div id="DynamicContent"></div>