// primary
$purple              : #752357;
$purple-light        : #9B2570;
$blue                : #00667e;
$blue-dark           : #004056;
$aqua                : #67b9b0;
$grey-dark           : #586c70;
$grey                : #85979b;
$grey-light          : #e6eced;
$teal-light          : #E1F1EF;
$teal                : #238390;
$navy                : #044154;
$navy-dark           : #003549;
$white               : #fff;
$gradient-navbar     : linear-gradient(180deg, #003C52, #00576E);
$gradient-navbar-dark: linear-gradient(180deg, #003549, #003C52);
