$green-dark: #22492C;
$green: #008441;
$green-olive: #869769;
$orange-light: #E3B67B;
$orange: #D98120;
$beige: #FAF8F5;
$peach: #F7EEE2;

$blue: #2A4382;
$blue-dark: #171750;
$red: #ED3D47;
$grey: #DBDCDF;
$grey-light: #F2F2F2;
$grey-dark: #525458;
$white: #ffffff;
$black: #343434;
