$brand-font: 'proxima-nova', sans-serif;
$FA: 'FontAwesome'; 
@mixin header-font-style {
  font-family: $brand-font;
  font-weight: 700;
  text-transform: uppercase;
}

body,
html {
  font-size: 18px; // set base font size
  font-family: $brand-font, arial, sans-serif; // set brand font family
  color: $grey-dark;
}

h2, 
h3, 
h4, 
h5 {
  color: $blue-dark;
}

h1 {
  font-size: 72px;
  line-height: 1;
  font-weight: 700;
  max-width: 650px;
  padding-bottom: 20px;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 176px;
    height: 8px;
    background: $red;
  }
  &.employee {
    color: $blue-dark;
    padding-bottom: 0; 
    &:after {
      display: none;
    }
  }
  @include tablet {
    font-size: 50px;
  }
  @include mobile {
    font-size: 32px;
    font-weight: 600;
  }
}

h2 {
  font-size: 56px;
  line-height: 1.2;
  font-weight: 600;
  @include tablet {
    font-size: 40px;
  }
  @include mobile {
    font-size: 32px;
  }
}

h3 {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 600;
  @include tablet {
    font-size: 32px;
  }
  @include mobile {
    font-size: 24px;
  }
}

h4 {
  font-size: 32px;
  line-height: 1.2;
  @include tablet {
    font-size: 28px;
  }
  @include mobile {
    font-size: 22px;
  }
}

h5 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
  color: $grey;
  padding-bottom: 5px;
  border-bottom: 1px solid $grey;
  display: inline-block;
  letter-spacing: .07em;
  @include tablet {
    font-size: 18px;
  }
  @include mobile {
    font-size: 16px;
  }
}
h6 {
  font-size: 14px;
  font-weight: 600;
}

p {
  font-size: 18px;
  @include tablet-down {
    font-size: 16px;
  }
  &.deck {
    font-size: 48px;
    line-height: 1.2;
    font-weight: 600;
    color: $blue-dark;
    @include tablet-down {
      font-size: 26px;
    }
  }
}

.text--bold {
  font-weight: 600;
}

.subtitle {
  text-transform: uppercase;
  font-weight: 400;
  color: $grey;
  font-size: 12px;
}

.card--title {
  font-weight: 700;
  font-size: 55px;
  line-height: 1.2;
  color: $grey-dark;
}

a,
a:active,
a:hover {
  text-decoration: none;
}

.link--white {
  font-weight: 700;
  color: $white;
  border-bottom: 1px solid $white;
  &:hover {
    
  }
}
.link--greydark {
  font-weight: 700;
  color: $grey-dark;
  border-bottom: 1px solid $grey-dark;
  &:hover {
    color: $grey-dark;
  }
}

li {
  font-size: 18px;
  @include tablet-down {
    font-size: 16px;
  }
}

.arrow--list {
  li {
    list-style-type: none;
    position: relative;
    margin-bottom: 10px;
    &:before {
      content: "\f0da";
      font-family: $FA;
      position: absolute;
      left: -25px;
      top: 0;
      font-size: 18px;
    }
  }
}