<!DOCTYPE html>
<html>

<head>
    {Settings:GlobalCodeInHead}
    <script>
        $(document).ready(function(){
            //$("#mainNav").removeClass("interior--nav");
            $("#mainNav").addClass("navbar--home");
        });
    </script>
</head>

<body>
    {Settings:GlobalCodeInBody}

	<div id="DynamicContent">
		<!-- PageContent -->
		{PageContent}
	</div>

    <!-- Footer -->
    {{Load:9}.UseMainLayout}

</body>

</html>