<!DOCTYPE html>
<html>

<head>
    {Settings:GlobalCodeInHead}
</head>

<body>
    {Settings:GlobalCodeInBody}

    <Site:LoggedInHeader runat="server" />

    <!-- Header -->
    {{Load:8}.UseMainLayout}

    <!-- PageContent -->
    {PageContent}

    <!-- Footer -->
    {{Load:9}.UseMainLayout}

</body>

</html>