<!DOCTYPE html>
<html>

<head>
    {Settings:GlobalCodeInHead}
    <script>
        $(document).ready(function(){
            $("#mainNav").removeClass("navbar--home");
            //$("#mainNav").addClass("interior--nav");
        });
    </script>
</head>

<body>
    {Settings:GlobalCodeInBody}
    <Site:LoggedInHeader runat="server" />

	<div id="DynamicContent">
		<!-- PageContent -->
		{PageContent}
	</div>

    <!-- Footer -->
    {{Load:9}.UseMainLayout}
</body>

</html>