<!DOCTYPE html>
<html>

<head>
    {Settings:GlobalCodeInHead}
    <script>
        $(document).ready(function(){
            $("#mainNav").removeClass("navbar--home");
            //$("#mainNav").addClass("interior--nav");
        });
    </script>
</head>

<body>
    {Settings:GlobalCodeInBody}
    <Site:LoggedInHeader runat="server" />

    <!-- Header -->
    {IncludeFile:'/Frontend/layouts/includes/header-interior.cshtml'}

    <!-- PageContent -->
    {PageContent}

    <!-- Footer -->
    {{Load:9}.UseMainLayout}
</body>

</html>