<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="TFMProfiles" type="TinyFileManager.NET.ConfigProfiles, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true"/>
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.5.2"/>
    <!--<customErrors mode="Off"/>-->
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <TFMProfiles>
    <profile name="Default">
      <AllowedImageExtensions>'jpg', 'jpeg', 'png', 'gif', 'bmp', 'tiff','svg'</AllowedImageExtensions>
      <AllowedFileExtensions>'doc', 'docx', 'pdf', 'xls', 'xlsx', 'txt', 'csv','html','psd','sql','log','fla','xml','ade','adp','ppt','pptx','zip','rar'</AllowedFileExtensions>
      <AllowedVideoExtensions>'mov', 'mpeg', 'mp4', 'avi', 'mpg','wma'</AllowedVideoExtensions>
      <AllowedMusicExtensions>'mp3', 'm4a', 'ac3', 'aiff', 'mid'</AllowedMusicExtensions>
      <AllowedMiscExtensions/>
      <UploadPath/>
      <ThumbPath/>
      <AllowUploadFile>True</AllowUploadFile>
      <AllowDeleteFile>True</AllowDeleteFile>
      <AllowCreateFolder>True</AllowCreateFolder>
      <AllowDeleteFolder>True</AllowDeleteFolder>
      <MaxUploadSizeMb>100</MaxUploadSizeMb>
      <RootPath/>
      <RootURL/>
      <FillSelector/>
      <PopupCloseCode/>
    </profile>
    <profile name="NoTinyMCE">
      <AllowedImageExtensions>'jpg', 'jpeg', 'png', 'gif', 'bmp', 'tiff','svg'</AllowedImageExtensions>
      <AllowedFileExtensions>'doc', 'docx', 'pdf', 'xls', 'xlsx', 'txt', 'csv','html','psd','sql','log','fla','xml','ade','adp','ppt','pptx','zip','rar'</AllowedFileExtensions>
      <AllowedVideoExtensions>'mov', 'mpeg', 'mp4', 'avi', 'mpg','wma'</AllowedVideoExtensions>
      <AllowedMusicExtensions>'mp3', 'm4a', 'ac3', 'aiff', 'mid'</AllowedMusicExtensions>
      <AllowedMiscExtensions/>
      <UploadPath/>
      <ThumbPath/>
      <AllowUploadFile>True</AllowUploadFile>
      <AllowDeleteFile>True</AllowDeleteFile>
      <AllowCreateFolder>True</AllowCreateFolder>
      <AllowDeleteFolder>True</AllowDeleteFolder>
      <MaxUploadSizeMb>100</MaxUploadSizeMb>
      <RootPath/>
      <RootURL/>
      <FillSelector>window.parent.$('#demotextbox')</FillSelector>
      <PopupCloseCode>window.parent.$.fn.colorbox.close()</PopupCloseCode>
    </profile>
  </TFMProfiles>
</configuration>