// interior page breadcrumb navigation

.wh-breadcrumb {
  background: none;
  font-size: 16px;
  padding: 0;

  @include media-breakpoint-down(md) {
    margin-bottom: 2rem;
  }

  .breadcrumb-item {
    a {
      color: $grey;
      font-weight: 700;
    }
  }

  li {
    padding: 0;
  }
}

.breadcrumb-item+.breadcrumb-item:before {
  @include media-breakpoint-down(md) {
    padding-right: 0;
    padding-left: 0.4rem;
    font-family: 'FontAwesome';
    content: '\f105';
  }

}
