main {
  background: $beige;
}

section {
  padding-top: 24px;
  padding-bottom: 24px;
}

.related-content {
  padding: 20px 0;
  margin-top: 120px;
  border-top: 4px solid rgba($grey,0.25);

  span.related-content-title {
    color: $grey;
    font-weight: 700;
    display: block;
    position: relative;
    padding-bottom: 0.75em;
    margin-bottom: 40px;

    &:after {
      content: '';
      border-bottom: 4px solid rgba($grey,0.25);
      position: absolute;
      left: 0;
      bottom: 0;
      width: 120px;
    }
  }

  h4 {
    color: $green;
  }

  .related-item {
    @include media-breakpoint-down(md) {
      padding: 20px 0;
    }
  }
}

.subpage-boxes {
  // to pull in subpage boxes similar to those of Services on home page. Example: How You Can Help page contains these.
  .wh-box {
    .wh-box-content {
      span {
        font-size: 20px;
        line-height: 1em;
      }
      @include media-breakpoint-down(md) {
        height: auto;
      }
    }
  }
}

.board-members {
  .image {
    img {
      width: 100%;
      margin: 0 auto;
      display: block;
      border-radius: $rounded-corner-size;
    }
  }
  .description {
    text-align: center;
    padding-top: 12px;
  }
}

.related-item {
  .related-item-image {
    border-radius: $rounded-corner-size;
    margin: 18px 0;
    object-fit: cover;
    height: 220px;
    width: 100%;
  }
}
