.img-container {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}
img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}
.container-fluid {
  padding: 0;
  .row {
    margin: 0;
    .col {
      padding: 0;
    }
  }
}
.content__container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 15px;
  @include tablet-down {
    padding: 20px 15px;
  }
}
.full__container {
  width: 100%;
  margin: 0 auto;
}
.mid__container {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto; 
}
.offset__container {
  width: 90%;
  margin-left: 10%;
  @include mobile {
    width: 100%;
    margin: 0;
  }
}
.grey {
  background: $grey-light;
}

.img__content__container {
  width: 100%;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  flex-flow: row wrap;
  @include mobile {
    padding: 20px;
  }
  .img-container {
    max-width: 200px;
    margin-right: 15px;
    @include mobile {
      margin-right: 0;
      margin-bottom: 35px;
    }
  }
  .content {
    width: 70%;
    @include mobile {
      width: 100%;
    }
  }
}

.corners--red {
  padding: 60px;
  position: relative;
  @include mobile {
    padding: 60px 0 60px 60px;
  }
  &:before {
    content: "";
    width: 52px;
    height: 40px;
    border-top: 10px solid $red;
    border-left: 10px solid $red;
    position: absolute;
    left: 20px;
    top: 15px;
  }
  &:after {
    content: "";
    width: 52px;
    height: 40px;
    border-bottom: 10px solid $red;
    border-right: 10px solid $red;
    position: absolute;
    right: 20px;
    bottom: 15px;
    @include mobile {
      width: 0;
      height: 0;
      border-bottom: none;
      border-right: none;
    }
  }
}

.corners--blue {
  padding: 60px;
  position: relative;
  @include mobile {
    padding: 60px 0 60px 60px;
  }
  &:before {
    content: "";
    width: 52px;
    height: 40px;
    border-top: 10px solid $blue-dark;
    border-left: 10px solid $blue-dark;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    position: absolute;
    left: 20px;
    top: 15px;
  }
  &:after {
    content: "";
    width: 52px;
    height: 40px;
    border-bottom: 10px solid $blue-dark;
    border-right: 10px solid $blue-dark;
    position: absolute;
    right: 20px;
    bottom: 15px;
    @include mobile {
      width: 0;
      height: 0;
      border-bottom: none;
      border-right: none;
    }
  }
}

.offset__inner {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 40px;
  @include tablet-down {
    flex-flow: column wrap;
    margin-bottom: 10px;
  }
  &__left {
    width: calc(35% - 35px);
    margin-right: 35px;
    display: flex;
    align-items: stretch;
    @include tablet-down {
      width: 100%;
    }
    @include mobile {
      width: calc(100% - 30px);
      margin: 0 15px;
    }
    // p {
    //   margin-bottom: 7px;
    // }
    ul {
      list-style-type: none;
      margin-bottom: 0.25em;
      padding: 0;
      p {
        margin-bottom: 0;
      }
      li {
        font-weight: 600;
        color: $blue;
      }
    }
  }
  &__right {
    width: 65%;
    display: flex;
    flex-flow: column wrap;
    @include tablet-down {
      width: 100%;
    }
    div {
      flex-grow: 1;
    }
  }
}

.grey--callouts {
  margin-bottom: 35px;
  padding: 40px 35px;
  background: $grey-light;
  width: 100%;
  p {
    margin-bottom: 0.5em;
    &:last-child {
      margin-bottom: 0;
    }
  }
  @include mobile {
      padding: 30px;
  }
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}