img {
  display  : block;
  width    : 100%;
  height   : auto;
  max-width: 100%;
}

hr {
  width     : 100%;
  border-top: 2px solid rgba(0,0,0,.1);
  margin    : 4em auto;
}

.container {
  //max-width: 1200px;
  &.image-content-split {
    padding  : 5em 0;
    max-width: 1200px;
    @include mobile {
      padding: 1em 0;
    }

    .bubble-container {
      p {
        &.headline {
          color        : $white;
          font-size    : 70px;
          max-width    : 550px;
          text-align   : center;
          line-height  : 1;
          font-weight  : 300;
          margin-bottom: .25em;
          @include mobile {
            font-size: 55px;
          }

          span {
            font-weight: 500;
          }

          &.headline-teal {
            color: teal;
          }
        }
        // &.subtitle {
        //   font-size: 1.5rem;
        //   display  : block;
        // }
        &.subhead {
          font-size  : 26px;
          color      : $white;
          //max-width  : 550px;
          text-align : center;
          line-height: .8;
          font-weight: 500;

          &.subhead-teal {
            color: $teal;
          }
        }
      }
      @include mobile {
        margin: 2em auto;
        order : 2;
      }
    }

    .img-container {
      display  : block;
      width    : 100%;
      max-width: 100%;
      height   : auto;
      @include mobile {
        margin: 2em auto;
      }
    }

    .content-container {
      @include mobile {
        padding   : 1em 2em;
        text-align: center;
      }
    }
  }

  &.border-top {
    border-top: 2px solid $grey-light;
  }
}

.has-separator-above {
  padding-top: 75px;
}

.separator-bottom {
  position : absolute;
  transform: rotate(180deg);
  @include mobile {
    height: 40px;
  }

  &.fill-white {
    fill: $white;
  }

  &.fill-blue {
    fill: $blue;
  }
}

.bubble-bg {
  background-position: center;
  background-repeat  : no-repeat;
  background-size    : contain;
  padding-bottom     : .25em;

  &.bubble-bg-bot-teal {
    background-image: url("/media/images/shapes/bubble-bot-teal.png");
  }

  &.bubble-bg-bot-teal-light {
    background-image: url("/media/images/shapes/bubble-bot-teal-light.png");
  }
}
