.different__page {
    .content__block {
        display:flex;
        width:100%;
        align-items: center;
        flex-flow: column nowrap;
        margin-bottom: 2em;
        overflow-x: hidden;
        .content{
            display:block;
            width:100%;
            padding: 20px 15px;
            max-width: 800px;
            h2,
            p {
                margin-bottom: 0;
            }
            &.greybg{
                position: relative;
                &:before {
                    display: block;
                    content: "";
                    position: absolute;
                    right: -10%;
                    background: $grey-light;
                    width: calc((((100vw - 800px) / 2) + 800px) + 10%);
                    height: 100%;
                    top: 0;
                    z-index: -1;
                    @include tablet {
                        width: calc((((100vw - 800px) / 2) + 800px) + 2%);
                        right: -2%;
                    }
                    @include mobile {
                        width: 100%;
                        right: 0;
                    }
                }
            }
        }
    }
    .different__intro {
        margin-bottom: 50px;
        .grey--offset {
            background: $grey-light;
            padding: 30px 0;
            width: 80%;
            margin-right: 20%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-end;
            @include mobile {
                width: 100%;
            }
            .content {
                width: 100%;
                max-width: 800px;
                padding: 20px 15px;
                @include tablet-down {
                    padding: 20px 15px;
                }
            }
        }
    }
    .values__container {
        padding: 90px 15px;
        @include mobile {
            padding: 40px 15px;
        }
        h1 {
            color: $blue-dark;
            margin-bottom: 35px;
        }
    }
}