.wh-footer {
  background: $green;
  color: white;
  padding: 30px 15px;

  a {
    color: white;
  }

  h6 {
    @include media-breakpoint-down(md) {
      text-align: center;
    }
  }

  .social-follow, .footer-fineprint, .footer-copyright {
    text-align: center;
    padding: 10px 0;
  }

  .footer-fineprint {
    font-size: 0.8em;
    font-family: $secondary-font;
  }

  .footer-copyright {
    font-size: 0.75em;
    font-family: $secondary-font;
  }

  .social-follow {
    a {
      display: inline-block;


    }
    span {
      padding: 0.4em;
    }
  }

}

.return-to-top {
  background: $beige;
  text-align: right;
  .button {
    margin: 20px 0;
  }
}
