footer {
  height: 100%;
  width: 100%;
  padding: 35px;
  background: $grey-dark;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  color: $white;
  .footer__contact {
    @include mobile {
      margin-bottom: 30px;
    }
    p {
      margin-bottom: 0;
    }
    a {
      color: $white;
    }
  }
  .footer__credits {
    display: flex;
    flex-flow: column nowrap;
    .footer__logos {
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-end;
      margin-bottom: 25px;
      .img-container {
        max-width: 89px;
      }
    }
    p {
      margin-bottom: 0;
    }
  }
}