

.navbar {
  height: 120px;
  background: $white;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  z-index: 10;
  //transition: all 3s;
  @include mobile {
    height: 72px;
    padding: 0 15px;
  }
  &-brand {
    max-width: 310px;
    @include mobile {
      max-width: 186px;
      margin: 0;
    }
  }
  .navbar__toggles {
    display: none; 
    @include tablet-down {
      display: flex;
    }
    .search__toggle, .menu__toggle {
      color: $grey-dark;
      text-decoration: none;
      padding: 10px;
      font-size: 30px;
    }
  }
  .fa-times {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    color: $white;
    font-size: 50px;
    cursor: pointer;
    &:before {
      content: url(/media/uploads/images/close.png);
    }
  }
  .navbar__search {
    @include tablet-down {
      display: none;
    }
    &.show--search {
      display: flex;
      align-items: center;
      justify-content: center;
      background: $red;
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      max-width: 100%;
      z-index: 100;
      .fa-times {
        display: block;
        z-index: 100;
      }
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        border-bottom: 60px solid $blue;
        border-left: 60px solid transparent;
      }
      .navbar-search {
        top: inherit;
        right: inherit;
        position: static;
        height: 60px;
      }
    }
    .navbar-search {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      position: absolute;
      top: 0;
      right: 30px;
      padding: 0;
      margin-top: .25em;
      height: 40px;
      i {
        margin-right: 10px;
        font-size: 20px;
        @include tablet-down {
          color: $white;
        }
      }
      input {
        border: none;
        border-bottom: 2px solid $blue;
        border-radius: 0;
        box-shadow: none;
        background: none;
        font-size: 16px;
        width: 240px;
        padding: 5px 0;
        &::placeholder {
          color: rgba($grey-dark, 0.6);
        }
        @include tablet-down {
          background: $white;
          padding: 15px;
          border-bottom: 3px solid $blue;
          border-radius: 3px;
        }
      }
    }
  }
  .navbar__menu {
    width: 100%;
    max-width: 805px;
    //transition: all 3s;
    @include tablet-down {
      display: none;
    }
    .navbar-nav {
      width: 805px;
      justify-content: space-between;
      margin-top: 40px;
      @include tablet-down {
        width: 100%;
      }
      .nav-item {
        .nav-link {
          border-bottom: 3px solid transparent;
          color: $blue;
          text-transform: uppercase;
          font-size: 16px;
          letter-spacing: 0.1em;
          &:hover {
            border-bottom: 3px solid $red;
            transition: all .33s;
          } 
        }
        &.current {
          .nav-link {
            border-bottom: 3px solid $red;
          }
        }
        &.currentParent {
          .nav-link {
            border-bottom: 3px solid $red;
          }
        }
      }
    } 
    &.show--menu {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      padding-left: 40px;
      background: $blue;
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      max-width: 100%;
      z-index: 100;
      @include mobile {
        justify-content: center;
        padding-left: 0;
      }
      .fa-times {
        display: block;
        z-index: 100;
      }
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        border-bottom: 60px solid $red;
        border-left: 60px solid transparent;
      }
      .nav-item {
        margin: 10px 0;
        .nav-link {
          color: $white;
          text-transform: none;
          font-size: 32px;
          font-weight: 700;
          letter-spacing: 0;
          text-decoration: none;
          border-bottom: 3px solid transparent;
          &:hover {
            border-bottom: 3px solid $red;
          }
        }
      }
    }
  }
  &.navbar--home {
    display: flex;
    justify-content: center;
    padding: 0 30px;
    width: 100%;
    background: transparent;
    margin-bottom: -120px;
    @include tablet-down {
      height: 72px;
      padding: 0 15px;
      justify-content: flex-end;
    }
    .navbar-brand {
      display: none;
    }
    .navbar__toggles {
      display: none; 
      @include tablet-down {
        display: flex;
      }
      .search__toggle, .menu__toggle {
        color: $white;
        text-decoration: none;
        padding: 10px;
        font-size: 30px;
      }
    }
    .fa-times {
      display: none;
      position: absolute;
      top: 20px;
      right: 20px;
      color: $white;
      font-size: 50px;
      cursor: pointer;
      &:before {
        content: url(/media/uploads/images/close.png);
      }
    }
    .navbar__search {
      display: none;
    }
    .navbar__menu {
      width: 100%;
      max-width: 805px;
      @include tablet-down {
        display: none;
      }
      .navbar-nav {
        width: 805px;
        justify-content: space-between;
        margin-top: 0;
        @include tablet-down {
          width: 100%;
        }
        .nav-item {
          .nav-link {
            border-bottom: 3px solid transparent;
            color: $white;
            text-transform: uppercase;
            font-size: 16px;
            letter-spacing: 0.1em;
            &:hover {
              border-bottom: 3px solid $white;
              transition: all .33s;
            } 
          }
        }
      } 
      &.show--menu {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        background: $blue;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        max-width: 100%;
        z-index: 100;
        .fa-times {
          display: block;
          z-index: 100;
        }
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          right: 0;
          width: 0;
          height: 0;
          border-bottom: 60px solid $red;
          border-left: 60px solid transparent;
        }
        .nav-item {
          margin: 10px 0;
          .nav-link {
            color: $white;
            text-transform: none;
            font-size: 32px;
            font-weight: 700;
            letter-spacing: 0;
            text-decoration: none;
            border-bottom: 3px solid transparent;
            &:hover {
              border-bottom: 3px solid $red;
            }
          }
        }
      }
    }
  }
}




