.wh-nav {
  width: 100%;
  background: $peach;
  border-top: 8px solid $green;
  display: flex;
  flex-direction: column;

  .wh-logo {
    background-image: url("../../../media/images/logos/woodshomes-logo_green.svg");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 385px;
    height: 94px;
    margin-top: -73px;
    transition: all 0.3s ease;
    @include media-breakpoint-down(md) {
      background-image: url("../../../media/images/logos/woodshomes-logo_mobile.svg");
      width: 146px;
      height: 48px;
      margin-top: 0;
    }
  }

  .nav-is-sticky .wh-logo {
    @include media-breakpoint-up(md) {
      margin-top: 0;
      width: 270px;
      height: 60px;
      transition: all 0.3s ease;
    }
  }

  .navbar-toggler {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
  }
  // targets top level nav li
  .navbar-nav > .nav-item {
    @include media-breakpoint-up(lg) {
      border-bottom: 4px solid transparent;
    }

    &:hover {
      @include media-breakpoint-up(lg) {
        border-bottom: 4px solid rgba($grey,0.25);
      }
    }
  }

  .navbar-nav > .nav-item.current {
    //background: darken($peach,5%);
    border-bottom: 4px solid darken($peach,8%);
    @include media-breakpoint-down(md) {
      border-bottom: 0 solid transparent;
    }
  }
  // targets top level nav links
  .navbar-nav > .nav-item > .nav-link {
    @include header-font-style;
    font-size: 16px;
    padding: 10px 20px;
    letter-spacing: normal;
    @include media-breakpoint-down(lg) {
      font-size: 13px;
      padding: 18px 16px 0;
    }
    @include media-breakpoint-down(md) {
      font-size: 16px;
      padding: 12px 0;
      border-top: 2px solid rgba($grey,0.25);
    }
  }
}
// used to target for changing order of appearance on mobile - should go underneath main navigation

.wh-subnav-container {
  order: 1;
  @include media-breakpoint-down(md) {
    order: 2;
  }
}

.wh-subnav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;

  &-utilities {
    display: flex;
    padding: 12px 0;
    justify-content: flex-end;
    align-items: center;
    @include media-breakpoint-down(md) {
      width: 100%;
      padding: 8px 0;
    }
  }

  &-items {
    font-size: 12px;
    padding: 0 32px 0 0;
    font-family: $secondary-font;
    @include media-breakpoint-down(md) {
      display: none;
    }

    a {
      font-weight: 700;
      color: $grey;
      display: inline-block;
      padding: 0 0.75em;
    }
  }
}

#mainNav {
  order: 2;
  @include media-breakpoint-down(md) {
    order: 1;
  }

  &[data-sticky] {
    z-index: 1000;
    width: 100%;
    background: $peach;
  }
}
// overriding bootstrap nav - hover to display subpages instead of clicking
@include media-breakpoint-up(lg) {
  .dropdown:hover > .dropdown-menu {
    display: block;
  }
}
// overriding bootstrap nav - to tweak for layout

.navbar-expand-lg .navbar-nav {
  @include media-breakpoint-up(lg) {
    width: 100%;
    justify-content: flex-end;

    .dropdown-menu {
      padding: 10px 8px;
      margin: 4px 0 0;
      font-weight: 500;
      line-height: 1.3em;
      font-size: 0.9em;
      min-width: 200px;

      & > .nav-item:not(:last-child) {
        border-bottom: 2px solid rgba($grey,0.1);
      }
    }
  }
  @include media-breakpoint-down(lg) {
    padding-top: 20px;

    .dropdown-menu {
      padding: 0 16px;

      & > .nav-item:not(:last-child) {
        border-bottom: 2px solid rgba($grey,0.1);
      }
    }
  }
}
// search form

.wh-search-form {
  input.form-control {
    width: 60%;
    height: 45px;
  }

  button {
    width: 20%;
    margin-left: -12px;
    height: 45px;
    outline: 0;
    border: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background: white;
    vertical-align: middle;

    &:hover {
      cursor: pointer;
    }
  }
}
