body
{
    background: none !important;
    text-align: left;
}

ul {
    list-style-type: disc;
    color: #000;
}

ol {
    color: #000;
}

p{
    margin-bottom: 10px;
}

.sidebar-icon, .icon, .img-responsive {
    max-width: 200px;
}